
data/*
data_proc/*
data_test/*
data_train/*
output/*
frontend/node_modules/*

src/.ipynb_checkpoints/*
src/githubs/*

.DS_Store
tmp*

*.pyc
*.avi
*.gif
*.pth
*.zip

**/core
**/.vscode/*
**/__pycache__/*
**/.ipynb_checkpoints/*