numpy==1.16.4
Pillow
cython
matplotlib
scikit-image
opencv-python==3.4.2.17
h5py
imgaug
pandas
argparse
IPython[all]
simplejson
sklearn
slidingwindow
pyyaml
dill
fire
numba
psutil
pycocotools
requests
scipy
tqdm
tensorflow-gpu==1.5
git+https://github.com/ppwwyyxx/tensorpack.git
